@import url('https://fonts.googleapis.com/css?family=Lato|Noto+Serif:700&display=swap&subset=latin-ext');


 /* Główne elementy */
:root
{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}

body
{
	margin: 0;
	padding: 0;
	background-color: #222;
	color: #ccc;
}



/* Nagłówek strony */
h1
{
	font-family: 'Noto Serif', serif;
	font-weight: 700;
	font-size: 4em;
	text-align: center;
	margin: 40px 20px 80px;
	color: #E9E8E7;
}
h1 > span
{
	color: 	#D4213D;
	display: inline-block;
	transform: translate(5px, 16px) rotate(12deg);
}



/* Elementy formularza */
form
{
	text-align: center;
}
.fild
{
	padding: 5px 10px;
	margin: 5px;
}




.loader 
{
	border: 5px solid #f3f3f3;
	border-top: 5px solid #3498db;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: spin 2s linear infinite;
}

progress::after 
{ 
	content: attr(value)"%";
	position: relative;
	left: 50%;
	top: 0%;
} 





@keyframes spin 
{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}